#app-frame {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  > nz-spin {
    @apply flex;
    flex-grow: 1;
    > .ant-spin-container {
      @apply flex;
    }
  }
}

.global-spinner {
  @apply min-h-screen;
  .ant-spin {
    max-height: unset !important;
  }
}

app-project {
  @apply flex;
  flex-grow: 1;
  flex-direction: column;
  /* for Firefox */
  min-height: 0;
}